<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.test.unimote"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="preferExternal">

    <uses-sdk android:minSdkVersion="10"/>

    <application android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">

        <uses-library android:name="com.android.future.usb.accessory" />
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity android:name=".ReadRemoteActivity"/>
        <activity android:name=".UseRemoteActivity"/>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>